@using aoiRouting.App.Pages
@using aoiRouting.Shared.Models

@inject IJSRuntime Js;

<h3 style="text-align:center;font-weight:bold">Navigation</h3>
<hr />
<center>
	<div>
		Find nearest <input type="number" style="width: 25px; margin: 0 5px" @bind="@n" min="1"/> point(s)<button style="margin-left: 25px" @onclick="Navigate">Go!</button> 
	</div>
	<div>
		<ol>
			@for (int i = 0; i < near.Count(); i++)
			{
				<li>Point @near[i].PointID @@ @near[i].Lat.ToString().Substring(0, 5)°, @near[i].Lon.ToString().Substring(0, 5)°</li>
			}
		</ol>
	</div>
</center>

@code {
	private int n = 1;
	private List<Pin> near = new();
	private async Task Navigate()
	{
		await Js.InvokeVoidAsync("findNearestPins", n);
	}
}